Repository theoludwig/theoludwig: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix, dockerfilelint

fix: add text that I'm a student at University
  components/Header/SwitchTheme.tsx
  locales/en/home.json
  locales/fr/home.json
  package-lock.json
  pages/_app.tsx
  pages/_document.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 1.3.6 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  8ecfeca50d241f7c33aed96b2dd89c6c6a53011b
Due: editorconfig-checker

ci: add automerge-dependabot
  .github/workflows/Divlo.yml
Due: editorconfig-checker, prettier --write

ci: disable commitlint for dependabot
  .github/workflows/Divlo.yml
Due: editorconfig-checker, prettier --write

build(deps): update latest (fix vulnerability)
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

ci: remove automerge-dependabot
  .github/workflows/Divlo.yml
Due: editorconfig-checker, prettier --write

build(deps): update latest
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

feat(skills): add GNU/Linux
  components/Skills/index.tsx
  components/Skills/skills.ts
  public/images/skills/GNU-Linux.png
Due: editorconfig-checker, prettier --write, eslint --fix

feat(skills): add C/C++
  components/Skills/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

chore: cleanup
  .devcontainer/devcontainer.json
  .github/workflows/Divlo.yml
  .gitpod.yml
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

chore: disable dependabot (npm) temporarily
  .github/dependabot.yml
Due: editorconfig-checker, prettier --write

build(deps): bump Node.js to 16.0.0 and npm to 8.0.0
  CONTRIBUTING.md
  Dockerfile
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, dockerfilelint

refactor: use kebab-case instead of camelCase for translations locales
  components/ErrorPage.tsx
  components/Footer.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/ProfileInfo.tsx
  components/Profile/ProfileList/index.tsx
  components/Skills/index.tsx
  locales/en/common.json
  locales/en/errors.json
  locales/en/home.json
  locales/fr/common.json
  locales/fr/errors.json
  locales/fr/home.json
  pages/404.tsx
  pages/500.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

feat: add blog
  .lintstagedrc.json
  components/Interests/index.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/blog/[slug].tsx
  posts/hello-world.mdx
  styles/global.css
  tailwind.config.js
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix

fix: bigger prose max-width
  styles/global.css
Due: editorconfig-checker, prettier --write

feat: add syntax highligthing to blog posts
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/blog/[slug].tsx
  posts/hello-world.mdx
  styles/global.css
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix

feat: link to /blog in header
  components/Header/index.tsx
  pages/404.tsx
  pages/500.tsx
  pages/blog/[slug].tsx
  pages/index.tsx
  posts/hello-world.mdx
  styles/global.css
Due: editorconfig-checker, prettier --write, eslint --fix

test(e2e): add /blog/[slug]
  cypress/integration/pages/blog/[slug].spec.ts
  pages/blog/[slug].tsx
Due: editorconfig-checker, prettier --write, eslint --fix

feat(pages): add /blog
  .lighthouserc.json
  cypress/integration/pages/blog/[slug].spec.ts
  cypress/integration/pages/blog/index.spec.ts
  pages/blog/index.tsx
  posts/hello-world.mdx
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix

perf: bundle blog posts at build time (with getStaticProps)
  components/Header/index.tsx
  cypress/integration/common/Header.spec.ts
  cypress/integration/pages/blog/[slug].spec.ts
  pages/blog/[slug].tsx
  pages/blog/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

feat: add blog (#320)
  .lighthouserc.json
  .lintstagedrc.json
  components/Header/index.tsx
  components/Interests/index.tsx
  cypress/integration/common/Header.spec.ts
  cypress/integration/pages/blog/[slug].spec.ts
  cypress/integration/pages/blog/index.spec.ts
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/_app.tsx
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  pages/index.tsx
  posts/hello-world.mdx
  styles/global.css
  tailwind.config.js
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix

refactor: use `next-mdx-remote` instead of `mdx-bundler`
  package-lock.json
  package.json
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  posts/hello-world.mdx
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix

feat(posts): add `clean-code`
  cypress/integration/pages/blog/index.spec.ts
  package-lock.json
  package.json
  pages/blog/[slug].tsx
  posts/clean-code.mdx
  posts/hello-world.mdx
  styles/global.css
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix

fix(posts): grammar and orthograph in clean-code
  posts/clean-code.mdx
Due: editorconfig-checker

fix(posts): grammar and orthograph in clean-code (#321)
  posts/clean-code.mdx
Due: editorconfig-checker

fix(posts): small text changes
  posts/clean-code.mdx
  posts/error-as-junior-developer.mdx
  posts/hello-world.mdx
Due: editorconfig-checker

build(deps): bump Next.js to v12 and TailwindCSS to v3
  .babelrc.json
  .devcontainer/Dockerfile
  components/OpenSource/index.tsx
  components/Profile/ProfileList/ProfileItem.tsx
  components/design/RevealFade.tsx
  components/design/ShadowContainer.tsx
  jest.config.js
  jest.config.json
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  pages/index.tsx
  tailwind.config.js
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix, dockerfilelint

fix: build HookWebpackError - Tailwind CSS config
  package-lock.json
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

fix: validate HTML W3C
  .eslintrc.json
  .github/workflows/Divlo.yml
  .html-w3c-validatorrc.json
  .lintstagedrc.json
  Dockerfile
  components/Header/Language/index.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Profile/ProfileLogo.tsx
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, dockerfilelint

chore: add again .eslintignore/.prettierignore
  .eslintignore
  .github/dependabot.yml
  .prettierignore
  package.json
Due: editorconfig-checker, prettier --write

test(e2e): fix failures
  cypress/integration/pages/blog/[slug].spec.ts
  cypress/integration/pages/blog/index.spec.ts
Due: editorconfig-checker, prettier --write, eslint --fix

build(deps): bump Node.js to 16.0.0 and npm to 8.0.0
  CONTRIBUTING.md
  Dockerfile
  components/ErrorPage.tsx
  components/Footer.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/ProfileInfo.tsx
  components/Profile/ProfileList/index.tsx
  components/Skills/index.tsx
  locales/en/common.json
  locales/en/errors.json
  locales/en/home.json
  locales/fr/common.json
  locales/fr/errors.json
  locales/fr/home.json
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, dockerfilelint

feat(skills): add C/C++
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/Divlo.yml
  .gitpod.yml
  .vscode/extensions.json
  Dockerfile
  README.md
  components/Skills/index.tsx
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, dockerfilelint

Path conditions:
  editorconfig-checker: any of: *
  prettier --write: ((any of: *.{js,ts,jsx,tsx}) or (any of: *.{css,yml,json})) or (any of: *.{md})
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  markdownlint --dot --fix: any of: *.{md}
  dockerfilelint: any of: ./Dockerfile
