Repository theoludwig/theoludwig: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix, dockerfilelint

.lintstagedrc.json:

{
  "*": ["editorconfig-checker"],
  "*.{js,ts,jsx,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,yml,json}": ["prettier --write"],
  "*.{md}": ["prettier --write", "markdownlint --dot --fix"],
  "./Dockerfile": ["dockerfilelint"]
}

chore(lint-staged): add jest
  .lintstagedrc.json
Due: editorconfig-checker, prettier --write

build(deps): update latest version
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

feat(tailwind-wip): add Header and First section
  .babelrc.json
  components/Header/index.tsx
  components/Profile/ProfileInfo.tsx
  components/Profile/ProfileLogo.tsx
  components/Profile/index.tsx
  components/design/Section/index.tsx
  pages/_app.tsx
  pages/_document.tsx
  public/images/divlo_logo.png
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

feat(tailwind-wip): add Footer
  .babelrc.json
  components/Footer.tsx
  jest.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

feat(tailwind-wip): add Interests + Skills
  components/Interests/InterestParagraph.tsx
  components/Interests/InterestsList/InterestItem.tsx
  components/Interests/InterestsList/index.tsx
  components/Interests/index.tsx
  components/Skills/Skill.tsx
  components/Skills/SkillsSection.tsx
  components/design/Section/SectionHeading.tsx
  components/design/Section/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

fix(tailwind-wip): sticky Header + ErrorPage
  components/ErrorPage.tsx
  components/Header/Language/Arrow.tsx
  components/Header/Language/LanguageFlag.tsx
  components/Header/Language/index.tsx
  components/Header/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

chore: remove Contact section
  .env.example
  CONTRIBUTING.md
  __test__/pages/api/send-email.test.ts
  components/Contact/FormResult.tsx
  components/Contact/FormState.tsx
  components/Contact/index.tsx
  components/design/Button.tsx
  components/design/Input.tsx
  components/design/Textarea.tsx
  docker-compose.yml
  locales/en/home.json
  locales/fr/home.json
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/api/send-email.ts
  pages/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

build(deps): bump next to 10.2.0
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

ci(dependabot): temporary disabled npm ecosystem
  .github/dependabot.yml
Due: editorconfig-checker, prettier --write

ci(dependabot): enable again npm ecosystem updates
  .github/dependabot.yml
Due: editorconfig-checker, prettier --write

feat(tailwind-wip): add Portfolio
  components/Portfolio/PortfolioItem.tsx
  components/Portfolio/index.tsx
  components/design/ShadowContainer.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

fix: non-composited-animations in Tooltip
  components/Head.tsx
  components/Header/index.tsx
  components/Interests/InterestsList/InterestItem.tsx
  components/Profile/SocialMediaList/SocialMediaItem.tsx
  components/design/Tooltip.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

fix: center Profile about section
  components/Profile/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

test: remove useless old components tests
  components/design/__test__/Button.test.tsx
  components/design/__test__/Input.test.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

fix: more Tailwind CSS instead of vanilla CSS
  components/Head.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Portfolio/index.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/ProfileList/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

feat: add light theme
  components/ErrorPage.tsx
  components/Footer.tsx
  components/Interests/InterestParagraph.tsx
  components/Interests/InterestsList/InterestItem.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/ProfileInfo.tsx
  components/Profile/ProfileList/ProfileItem.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/EmailIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/GitHubIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/Icon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/TwitchIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/TwitterIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/YouTubeIcon.tsx
  components/Profile/SocialMediaList/SocialMediaItem.tsx
  components/Profile/SocialMediaList/index.tsx
  components/Skills/Skill.tsx
  components/Skills/SkillsSection.tsx
  pages/_document.tsx
  public/images/portfolio/functiondivlofr.png
  public/images/portfolio/threamdivlofr.png
  public/images/web/Email.png
  public/images/web/GitHub.png
  public/images/web/Twitch.png
  public/images/web/Twitter.png
  public/images/web/YouTube.png
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

feat: better responsive
  components/Header/Language/LanguageFlag.tsx
  components/Header/Language/index.tsx
  components/Header/index.tsx
  components/Profile/ProfileLogo.tsx
  components/Profile/index.tsx
  components/design/Section/index.tsx
  pages/_app.tsx
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

build(deps): update latest-version
  .env.example
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix, dockerfilelint

chore(docker): remove volumes part
  Dockerfile
  docker-compose.yml
Due: editorconfig-checker, prettier --write, dockerfilelint

fix: sticky header
  pages/_document.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  c62e66a86aec6c9aa1d55fea1e947094c275eca1
Due: editorconfig-checker

fix: update content
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/SocialMediaList/index.tsx
  components/Profile/index.tsx
  components/design/ShadowContainer.tsx
  locales/en/home.json
  locales/fr/home.json
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  cd20e25082dcbc6b4c8f3a04eda98b697808a4f9
Due: editorconfig-checker

build(deps): bump jest to 27.0.1
  jest.config.js
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix

ci: only one workflow (Divlo)
  .github/workflows/Divlo.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .releaserc.json
Due: editorconfig-checker, prettier --write

chore: update lighthouse config
  .lighthouserc.json
Due: editorconfig-checker, prettier --write

fix: link styles with underline on hover
  components/Interests/InterestParagraph.tsx
  components/Profile/ProfileList/ProfileItem.tsx
  locales/en/home.json
  locales/fr/home.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  b0a34c6162552a4edc30a98ee4e1ac483ee9d1dc
Due: editorconfig-checker

chore: add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .dockerignore
  Dockerfile
  docker-compose.yml
  jest.config.js
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, dockerfilelint

chore: usage of node >= 14.0.0
  package.json
Due: editorconfig-checker, prettier --write

chore: fix some imperfections
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/Divlo.yml
  CONTRIBUTING.md
Due: editorconfig-checker, prettier --write

docs(contributing): relax minimum Node.js version
  CONTRIBUTING.md
Due: editorconfig-checker

build(deps): bump next to 11.0.0
  .eslintrc.json
  .github/workflows/Divlo.yml
  .lighthouserc.json
  components/Header/Language/index.tsx
  components/design/Section/SectionHeading.tsx
  components/design/Section/index.tsx
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix

fix: replace "My section" to "Section", delete "My"
  locales/en/home.json
  locales/fr/home.json
  next-env.d.ts
Due: editorconfig-checker, prettier --write, eslint --fix

fix: set Divlo in Header in yellow
  components/Header/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

feat: add new skills
  README.md
  components/Skills/Skill.tsx
  components/Skills/index.tsx
  components/Skills/skills.ts
  public/images/skills/C-Cpp.png
  public/images/skills/Fastify-dark.png
  public/images/skills/Fastify-light.png
  public/images/skills/PostgreSQL.png
  public/images/skills/Prisma-dark.png
  public/images/skills/Prisma-light.png
  public/images/skills/TailwindCSS.png
Due: editorconfig-checker, prettier --write, eslint --fix

feat: add new Leon portfolio
  locales/en/home.json
  locales/fr/home.json
  public/images/portfolio/leon.png
Due: editorconfig-checker, prettier --write

feat: add GitLab and npm social medias like README
  components/Profile/SocialMediaList/SocialMediaIcons/GitLabIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/NPMIcon.tsx
  components/Profile/SocialMediaList/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  3ef876b737344fece47f48045a3df9a58ede9f2c
Due: editorconfig-checker
