Repository theoludwig/theoludwig: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, markdownlint --dot --fix, dockerfilelint

.lintstagedrc.json:

{
  "*": ["editorconfig-checker"],
  "*.{js,ts,jsx,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,yml,json}": ["prettier --write"],
  "*.{md}": ["prettier --write", "markdownlint --dot --fix"],
  "./Dockerfile": ["dockerfilelint"]
}

ci: add caching with actions/setup-node
  .github/workflows/Divlo.yml
Due: editorconfig-checker, prettier --write

build(deps): update husky
  .husky/.gitignore
Due: editorconfig-checker

docs(readme): usage of json instead of TypeScript (About)
  README.md
Due: editorconfig-checker

feat: add Open source section
  README.md
  components/OpenSource/Repository.tsx
  components/OpenSource/index.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/Icon.tsx
  components/Skills/index.tsx
  components/design/Section/SectionHeading.tsx
  locales/en/home.json
  locales/fr/home.json
  package-lock.json
  package.json
  pages/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

feat: add version number in footer
  .releaserc.json
  CONTRIBUTING.md
  components/Footer.tsx
  components/__test__/Footer.test.tsx
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/_app.tsx
  pages/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  3a278fec10ad6b68a6ce22573b447ec45984551b
Due: editorconfig-checker

fix: replace `facebook/jest` to `vercel/styled-jsx`
  components/OpenSource/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

Notes added by 'git notes add'
  52870fd6a4bcd2bc4fcfc9e03ba6ac83c0ea3273
Due: editorconfig-checker

fix: disable hover:underline on link of Respository (open source)
  components/OpenSource/Repository.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

chore: add Vercel CLI
  .dockerignore
  .eslintignore
  .github/workflows/Divlo.yml
  .gitignore
  .prettierignore
  .releaserc.json
  package-lock.json
  package.json
  vercel.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  5133765f9484efdef582bb0132593c8e02ff996b
Due: editorconfig-checker

fix: include version in release
  .github/workflows/Divlo.yml
  .releaserc.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

chore: update message of release commit
  .releaserc.json
Due: editorconfig-checker, prettier --write

ci(release): persist-credentials: false
  .github/workflows/Divlo.yml
Due: editorconfig-checker, prettier --write

ci(release): add GH_TOKEN
  .github/workflows/Divlo.yml
Due: editorconfig-checker, prettier --write

chore(release): 1.3.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  a2ad591d6dfcc1ec78049135469291adc1deda7e
Due: editorconfig-checker

fix: sign release commit and backmerge to develop
  .github/workflows/Divlo.yml
  .releaserc.json
  components/Footer.tsx
  components/__test__/Footer.test.tsx
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 1.3.3 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  5c343395df30494a2025e5cd4b0111dd3cb11f3c
Due: editorconfig-checker

chore(release): set correctly env [skip ci]
  .github/workflows/Divlo.yml
Due: editorconfig-checker, prettier --write

perf: reduce build size + add `next-secure-headers`
  .babelrc.json
  .eslintrc.json
  .lighthouserc.json
  .releaserc.json
  .vscode/settings.json
  components/Profile/ProfileInfo.tsx
  components/Profile/ProfileLogo.tsx
  components/Profile/index.tsx
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  vercel.json
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 1.3.4 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  63017953d78d28e9d99c915317e71d3d86c1fc9b
Due: editorconfig-checker

fix: update usage of `read-pkg` to satisfy breaking changes
  pages/404.tsx
  pages/500.tsx
  pages/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

chore: rename jest.config.js to jest.config.json
  jest.config.js
  jest.config.json
Due: editorconfig-checker, prettier --write, eslint --fix

fix: `sharp` missing In production
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

test: add cypress e2e
  .github/workflows/Divlo.yml
  .gitignore
  __test__/pages/404.test.tsx
  __test__/pages/500.test.tsx
  components/ErrorPage.tsx
  components/Header/Language/LanguageFlag.tsx
  components/Header/Language/index.tsx
  components/Header/SwitchTheme.tsx
  components/__test__/Footer.test.tsx
  cypress.json
  cypress/integration/common/Header.spec.ts
  cypress/integration/pages/404.spec.ts
  cypress/integration/pages/500.spec.ts
  cypress/integration/pages/index.spec.ts
  cypress/tsconfig.json
  jest.config.json
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix

ci: update release needs jobs
  .github/workflows/Divlo.yml
Due: editorconfig-checker, prettier --write

test: add cypress e2e (#159)
  .github/workflows/Divlo.yml
  .gitignore
  __test__/pages/404.test.tsx
  __test__/pages/500.test.tsx
  components/ErrorPage.tsx
  components/Header/Language/LanguageFlag.tsx
  components/Header/Language/index.tsx
  components/Header/SwitchTheme.tsx
  components/__test__/Footer.test.tsx
  cypress.json
  cypress/integration/common/Header.spec.ts
  cypress/integration/pages/404.spec.ts
  cypress/integration/pages/500.spec.ts
  cypress/integration/pages/index.spec.ts
  cypress/tsconfig.json
  jest.config.json
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix

build(deps): update latest version
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

build(deps): bump next-pwa from 5.3.0 to 5.2.24
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

perf: uses-responsive-images
  .lighthouserc.json
  public/images/divlo_logo.png
Due: editorconfig-checker, prettier --write

fix: remove Hyper Terminal from tools used
  README.md
  components/Skills/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

perf: remove unnecessary fonts weight
  components/Header/Language/index.tsx
  components/Interests/InterestParagraph.tsx
  components/Profile/ProfileLogo.tsx
  pages/_app.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

test(e2e): visible instead of exist
  cypress/integration/common/Header.spec.ts
Due: editorconfig-checker, prettier --write, eslint --fix

build(deps): update latest
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

chore(release): 1.3.5 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  377b8e91a606427b7bddefc84001d17040af22dd
Due: editorconfig-checker

ci(release): fix input for ghaction-import-gpg
  .github/workflows/Divlo.yml
Due: editorconfig-checker, prettier --write
